		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.linkedin.com/in/brycewalterparker/" class="icon fa-linkedin" aria-hidden='true'><span class="label">LinkedIn</span></a></li>
					<li><a href="https://github.com/BryceWalter" class="icon fa-github"><span class="label">Github</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Bryce Walter Parker. All rights reserved.</li>
				</ul>
			</footer>
	<!-- LEAN CORPORATION | http://paullean.thedemo.co -->
    	<script type="text/javascript" src="http://localhost:8000/js/events.js?token=4d8992827ddb95fb25b34f5b29bdafe4&&saas_host=http://localhost:8000;"></script>
	<!-- End Shout -->
	</body>
</html>
